$mist: #90AFC5;
$bluestone: #336B87;
$shadow: #2A3132;
$brownautumn: #763626;
$brown: #423431;
$orange: #DD440A;
$orange-rgb: rgb(221, 68, 10);
$greyslate: #60697A;
$dirtyblue: #9AB6C2;
$dirtybaige: #D4CEC0;
$dirtygreen: #607A64;